@import './../../style/default.less';

.home-wrap{
    background-color: @colorM;
    height: calc(60vh);
    display: flex;
    align-items: center;//垂直方向
    justify-content: center;//水平方向
    font-size: 20px;
}